.nav-section{

    font-family: "Roboto",serif;
    --second-family: "Raleway", sans-serif;
}

*{ box-sizing:border-box;
}

body{
    font-family: sans-serif;
}
   .container  {
    background-color: #2F303A;
    padding: 50px, 0,50px,0;
    margin: 100px;
    width: 1200px;
    height:200px;
}

.logo{
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.menu{
    font-family: "Roboto", serif;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
  
}
.menu.link:hover{
    text-decoration: underline;
}
  


   .main-title
    {
     width:496px;
    line-height:1;
    font-family:"Roboto",serif;
   font-weight: 700;
   font-size: 56px;
   font-style:normal;
   line-height: 60px;
   letter-spacing: 0.02em;
   align-items:center;
   text-align: center;
    color: white;
   
  
     }

     .button{
       
        background-color: blue;
        text-align: center;
        display:block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: auto;
     }

     .class-section{
        font-family:"Roboto",serif;
        color:black;
        display: inline;
     }

     .title{
        text-align: center;
     }

.about-us {
    font-family: "Roboto", serif;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 1170;
    height:101;

}

.post-title{
    margin-top: 0;
    margin-bottom: 20px;
    align-content: center;
}

footer {
    background-color:#2F303A;
    width: 1600px;
    height: 251px;
    text-align: left;
    
}
footer p {
    margin-bottom: 10px;
}
footer .contact-info {
    font-weight: bold;
    color: #333;
}
.contact-info p {
    display: block;
    margin: 5px 0;
}


.main-nav{

display: inline;
padding-left: 20px;
padding-right: 20px;
margin-right: 50px;
margin-left: 50px;
}

