
.logo {
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}
 li { list-style-type: none;
    
}

.left-blue {

  color:  #4D5AE5;
font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;

}
.right-black{
    color: #2E2F42;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;

}
.menu-nav {
 overflow: hidden;

}

.menu-nav a {

    float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;}

       

.nav {list-style-type: none;
}



body,html{height: 100%;
    font-family: sans-serif; 
}
   
.main-section {
    text-align: center;
    color: black;
    top: 50%;
    left: 50%;
    align-items: center;
    background: #2E2F42;
    width: 1440px;
    height: 350px;
    margin: 0 auto;
    
 

 
}

.title{
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    color: white;
}


  



     .button{
       
        background-color: blue;
        text-align: center;
        display:block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: auto;
     }

     .class-section{
        font-family:"Roboto",serif;
        color:black;
        display: inline;
     }

     .title{
        text-align: center;
        background-color: BLUE #2E2F42 ;
        width: 496px;
         height: 120px;
          top: 260px;
           left: 472px;
     }

     .what-are-we-doing{
      
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
           text-align:  center;
        width: 323px;
         height:40px;
          top: 1016px;
           left: 559px;
        
          
}


.container-photo ul {
    display: flex;
    justify-content: center;
}

.container-images ul {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
}

.our-team-title {
    justify-content: center;
    display: flex;
}


.what-are-we-doing-title {
    justify-content: center;
    display: flex;

}




.post-title{
    margin-top: 0;
    margin-bottom: 20px;
    align-content: center;
}

footer {
    background-color:#2F303A;
    width: 1600px;
    height: 251px;
    text-align: left;
    
}
footer p {
    margin-bottom: 10px;
}
footer .contact-info {
    font-weight: bold;
    color: #333;
}
.contact-info p {
    display: block;
    margin: 5px 0;
}

.first-cardrow{
    display:flex;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
}

.second-cardrow{
    display: flex;
        justify-content: center;
        margin-right: 10px;

}
.container-cards ul{

    display:flex;
    justify-content: center;
    margin-right: 10px;
}

.what-we-offer{
    display: flex;
        justify-content: center;
        

}

.name1{
    display: flex;
    justify-content: center;
}

.job1{
    display: flex;
        justify-content: center;

}

.name{
    display: flex;
        justify-content: center;

}

.job{
    display: flex;
        justify-content: center;
}

.description{
    display:flex;
    justify-content: center;
}


.item{
    justify-content: space-between;
    margin-right: 70px;

}

.menuu
{
    display:flex;
    justify-content: center;
    margin-right: 10px;
    


}











